@font-face {
  font-family: 'Genericons';
  src: url("font/genericons-regular-webfont.eot");
  src: url("font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/genericons-regular-webfont.woff") format("woff"), url("font/genericons-regular-webfont.ttf") format("truetype"), url("font/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'social';
  src: url("font/social.eot?84036446");
  src: url("font/social.eot?84036446#iefix") format("embedded-opentype"), url("font/social.woff?84036446") format("woff"), url("font/social.ttf?84036446") format("truetype"), url("font/social.svg?84036446#social") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.25; }

h1 {
  display: block;
  color: #373B44;
  font-size: 1em;
  font-weight: 300;
  text-align: center; }

p {
  color: #C3CAD9;
  font-weight: 500;
  text-align: center; }

a {
  position: relative;
  color: #373B44;
  font-weight: 700; }
  a:hover {
    opacity: 0.8; }
  a:active {
    top: 1px; }

section {
  display: table;
  width: 100%;
  height: 100vh;
  max-width: none;
  padding: 0 7%;
  margin: 0;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    section {
      height: 1024px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    section {
      height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    section {
      height: 480px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    section {
      height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    section {
      height: 568px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    section {
      height: 320px; } }

.intro-background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../../img/cover.jpg);
  background-size: cover; }

.intro-background:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); }

.intro h1 {
  color: white;
  font-size: 2em; }
.intro p {
  font-size: 0.75em; }
.intro .logo {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 20vh;
  left: 40%;
  background-image: url(../../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .intro .logo {
      top: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .intro .logo {
      top: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .intro .logo {
      top: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .intro .logo {
      top: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .intro .logo {
      top: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .intro .logo {
      top: 64px; } }

nav {
  position: absolute;
  top: 7%;
  width: 100%;
  margin-left: 3%;
  font-weight: 500;
  text-align: right; }
  nav a {
    padding-right: 2%;
    color: white;
    font-size: 0.5em;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    nav a:hover {
      color: #C3CAD9; }
  nav a:nth-child(4n+3):hover {
    color: #1E824C; }

.buzz {
  height: 70vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .buzz {
      height: 716.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .buzz {
      height: 537.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .buzz {
      height: 336px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .buzz {
      height: 224px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .buzz {
      height: 397.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .buzz {
      height: 224px; } }
  .buzz .quote-citation {
    color: #1E824C; }
  .buzz .quote-link {
    color: #C3CAD9; }
    .buzz .quote-link p {
      padding-right: 15%;
      font-size: 0.5em;
      text-align: right;
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease; }
      .buzz .quote-link p:hover {
        color: #1E824C; }

.location {
  padding: 0; }

.about {
  height: 80vh;
  padding: 0%;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about {
      height: 819.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about {
      height: 614.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about {
      height: 384px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about {
      height: 256px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about {
      height: 454.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about {
      height: 256px; } }
  .about #bio {
    padding: 0 10%; }
    .about #bio p {
      color: #373B44;
      font-size: 0.5em;
      text-align: left; }
  .about #about-circle-wrapper {
    display: block;
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .about #about-circle-wrapper div {
      margin-left: 2%; }
    .about #about-circle-wrapper .first-circle {
      margin-left: 0%; }

.about-circle {
  display: inline-block;
  width: 21.896%; }

.about-circle:after {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #C3CAD9;
  background-size: cover;
  content: "";
  box-shadow: 0 0 0 5px #C3CAD9; }

.circle-A:after {
  background-image: url(../../img/circleA.jpg); }

.circle-B:after {
  background-image: url(../../img/circleB.jpg); }

.circle-C:after {
  background-image: url(../../img/circleC.jpg); }

.circle-D:after {
  background-image: url(../../img/circleD.jpg); }

.menu {
  background-image: url(../../img/menuBG.jpg);
  background-size: cover;
  margin: 0;
  padding: 0; }
  .menu #menu-info #menu-info-container {
    position: relative;
    width: 66%;
    height: auto;
    padding: 0 5%;
    border: 3px solid #C3CAD9;
    margin: 5% 0% 5% 17%;
    background-color: white; }
    .menu #menu-info #menu-info-container h1 {
      color: #1E824C; }
    .menu #menu-info #menu-info-container h3 {
      color: #373B44;
      font-size: 0.5em;
      text-align: left;
      margin-top: 2%;
      margin-bottom: -2%; }
      .menu #menu-info #menu-info-container h3 span {
        font-size: 0.75em; }
    .menu #menu-info #menu-info-container p {
      color: #373B44;
      font-size: 0.5em;
      text-align: left; }
    .menu #menu-info #menu-info-container a,
    .menu #menu-info #menu-info-container a p {
      color: #1E824C; }
    .menu #menu-info #menu-info-container .menu-brief {
      text-align: center; }
    .menu #menu-info #menu-info-container .legend {
      font-size: 0.35em;
      text-align: center; }
      .menu #menu-info #menu-info-container .legend span {
        color: #1E824C; }
    .menu #menu-info #menu-info-container .legend-indicator {
      color: #1E824C; }
    .menu #menu-info #menu-info-container .menu-category {
      padding-top: 2%;
      font-size: 0.75em; }
      .menu #menu-info #menu-info-container .menu-category:empty {
        display: inline; }

.menu-background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.7); }

.social {
  height: 90vh;
  background-color: white;
  padding-top: 5%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .social {
      height: 921.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .social {
      height: 691.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .social {
      height: 432px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .social {
      height: 288px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .social {
      height: 511.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .social {
      height: 288px; } }
  .social p span {
    padding: 0 3%;
    font-size: 2em;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    .social p span:hover {
      color: #373B44; }
  .social a {
    color: #C3CAD9;
    text-decoration: none; }

.divider {
  height: 1vh;
  background-color: #C3CAD9; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .divider {
      height: 10.24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .divider {
      height: 7.68px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .divider {
      height: 4.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .divider {
      height: 3.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .divider {
      height: 5.68px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .divider {
      height: 3.2px; } }

.content {
  position: relative;
  display: table-cell;
  vertical-align: middle; }
  .content #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .content #map {
        height: 1024px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .content #map {
        height: 768px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .content #map {
        height: 480px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .content #map {
        height: 320px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .content #map {
        height: 568px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .content #map {
        height: 320px; } }
  .content #location-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: auto; }

#location-info div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border: 3px solid #C3CAD9;
  margin: 5% 0% 5% 5%;
  background-color: white; }
  #location-info div p {
    color: #373B44;
    font-size: 0.5em; }
  #location-info div a,
  #location-info div a p {
    color: #1E824C; }
  #location-info div #email-address {
    word-wrap: break-word; }
  #location-info div .AD-1 {
    display: none; }
  #location-info div .AD-2 {
    display: none; }
  #location-info div .AD-3 {
    display: none; }
  #location-info div .AD-4 {
    display: none; }
  #location-info div .AD-5 {
    display: none; }
  #location-info div .AD-6 {
    display: none; }
  #location-info div .AD-7 {
    display: none; }
  #location-info div .AD-8 {
    display: none; }
  #location-info div .AD-9 {
    display: none; }
  #location-info div .hours p {
    font-size: 0.5em; }

.contact-form {
  width: 60%;
  height: 60vh;
  padding: 0 1%;
  margin-left: 20%;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-form {
      height: 614.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-form {
      height: 460.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-form {
      height: 288px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-form {
      height: 192px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-form {
      height: 340.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-form {
      height: 192px; } }
  .contact-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #C3CAD9 !important; }
    .contact-form input:-webkit-autofill:focus {
      -webkit-text-fill-color: #373B44 !important; }
  .contact-form input {
    color: #C3CAD9; }
    .contact-form input:focus {
      color: #373B44; }
  .contact-form textarea {
    color: #C3CAD9; }
    .contact-form textarea:focus {
      color: #373B44; }

.contact-input {
  width: 100%;
  height: 5vh;
  border: 2px solid #C3CAD9;
  font-size: 0.5em;
  -webkit-transition: border-color 0.5s ease;
  -moz-transition: border-color 0.5s ease;
  -ms-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-input {
      height: 51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-input {
      height: 38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-input {
      height: 24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-input {
      height: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-input {
      height: 28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-input {
      height: 16px; } }
  .contact-input:focus {
    border-color: #373B44; }

.contact-textarea {
  width: 100%;
  height: 20vh;
  border: 2px solid #C3CAD9;
  margin-top: 2vh;
  -webkit-transition: border-color 0.5s ease;
  -moz-transition: border-color 0.5s ease;
  -ms-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-textarea {
      height: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-textarea {
      height: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-textarea {
      height: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-textarea {
      height: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-textarea {
      height: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-textarea {
      height: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-textarea {
      margin-top: 20.48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-textarea {
      margin-top: 15.36px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-textarea {
      margin-top: 9.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-textarea {
      margin-top: 6.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-textarea {
      margin-top: 11.36px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-textarea {
      margin-top: 6.4px; } }
  .contact-textarea:focus {
    border-color: #373B44; }

.contact-submit {
  width: 100%;
  height: 5vh;
  color: white;
  border: none;
  background-color: #C3CAD9;
  font-size: 0.5em;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-submit {
      height: 51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-submit {
      height: 38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-submit {
      height: 24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-submit {
      height: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-submit {
      height: 28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-submit {
      height: 16px; } }
  .contact-submit:hover {
    background-color: #373B44; }

footer {
  height: 20vh;
  padding: 1% 5%;
  background-color: #373B44;
  color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    footer {
      height: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    footer {
      height: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    footer {
      height: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    footer {
      height: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    footer {
      height: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    footer {
      height: 64px; } }
  footer a {
    color: #FFFFFF;
    text-decoration: none; }
  footer p {
    font-size: 0.5em; }
    footer p span {
      padding: 0 1%; }

/*# sourceMappingURL=stylesheet.css.map */
